@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.content{
    padding: 0;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://lbj4mvpdotcom.files.wordpress.com/2015/09/lebron-james-nike-1920x1080.jpg');
    background-size: cover;

}

.card-login {
    display: flex;
    height: 600px;
    width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

.left-section {
    flex: 1;
    background: url("https://24.media.tumblr.com/5ee00defcd6719954a5a8b9eeed23ac4/tumblr_mjw1tu5wbB1r98qz6o1_500.gif");
    padding: 40px;
    color: #fff;
    /* Agrega más estilos para la sección izquierda si es necesario */
}

.left-section:hover{
    background: no-repeat 100px 100px;
}

.left-section:hover h1{
    color: black;
}

.left-section h1 {
font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  margin-top: 200px;
  text-align: center;
}

.right-section {
    background: url("https://68.media.tumblr.com/0001fbc97153d5279b29e1f33827f332/tumblr_no2cpbqKzI1qlwl18o1_500.gif");
    background-repeat: no-repeat;
    flex: 1;
    background-color: #000;
    padding: 40px;
    align-items: center;
    justify-content: center;
}



.login-page {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-page h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    position: relative;
}

.inputs {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    display: flex;
}

.input {
    width: 48%;
    margin-bottom: 5px;
}

.input label {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(248, 9, 9);
    margin-bottom: 5px;
}

.input input {
    width: 100%;
    padding: 2px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: transparent; /* Fondo transparente */
    border-bottom: solid 2px rgb(235, 85, 85); /* Borde inferior rojo */
    color: rgb(240, 230, 230); /* Color del texto introducido en rojo */
    font-size: 16px; /* Ajusta el tamaño de la fuente según necesites */
    outline: none; /* Remueve el contorno al hacer focus */
    
}

.input input::placeholder {
    color: rgb(245, 242, 242); /* Color del placeholder en rojo */
}

.input input:focus {
    border-color: rgb(250, 246, 246); /* Cambia el color del borde cuando el input está enfocado */
}

.register {
    text-align: left;
    margin-top: 10%;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.register span {
    color: rgb(247, 9, 9);
}
.rest-password:hover  {
    color: rgb(247, 9, 9);
}


.errors{
    color: red;
    font-size: 15px;
    position: relative;
    top: -5px;
}
span{
    text-decoration: none;
}
.register-ok p{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 190px;
    text-align: center;
}

.register-ok button {
    color: white;
    opacity: 0.7;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 150px;
    border: 2px solid black;
    border-radius: 50px;
    background: black;
    margin-left: 37%;
}
 .register-ok button:hover {
    color: black;
    background: white;
    border: 2px solid white;
    transition: background 0.9s;
}

.submit-container {
    text-align: center;
}

.submit {
    color: white;
    opacity: 0.7;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 150px;
    border: 2px solid black;
    border-radius: 50px;
    background: black;
    align-items: end;
}

.submit:hover {
    color: black;
    background: white;
    border: 2px solid white;
    transition: background 0.5s;
}