/* Reset básico para inputs y botón */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Fuente limpia y profesional */
    background-color: #f4f4f9; /* Un fondo suave para el contenido */
    margin: 0;
    padding: 20px;
}
.inputs-form{
    margin-bottom: 15px;
}
.form-container {
    width: 100%;
    max-width: 700px;
    margin: 5px auto;
    padding: 20px;
    background: #dddbdb67;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.title-form{
    margin: 0 auto;
    margin-top: 20px;
    color: #000;
    margin-left: 12rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif ;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.input-form {
    margin-bottom: 15px;
}

.input-form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-form input,
.input-form select,
.input-form textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
}
.input-form input::placeholder{
    color: #635d5d;
}

.input-form input[type="file"] {
    background-color: #f8f8f8; /* Un color de fondo específico para input de archivo */
}

.input-form span {
    color: #e63946; /* Color llamativo para errores */
    font-size: 0.9em;
    flex-direction: column;
}

.ButtonCreate {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #070707;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.ButtonCreate:hover {
    background-color: #080808;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.ButtonCreate2{
    display: block;
    width: 50%;
    margin-left: 120px;
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #070707;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.ButtonCreate2:hover {
    background-color: #080808;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Foco en inputs para mejorar la accesibilidad */
.input-form:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.2);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .form-container {
      padding: 10px;
    }
  
    .title-form {
      font-size: 24px;
    }
  }