@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilos para la tabla */
.tableContainer {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    margin-right: 2px;
    margin-top: -40px;
    margin-bottom: 20px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff; /* Fondo blanco */
    justify-content: center;
    align-items: center;
}

.title-table{
    margin: 0 auto;
    margin-left: 136px;
    margin-top: 40px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif ;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.bottomTable {
    width: 100%;
    padding-top: 1%;
    overflow-x: auto;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.dataTable thead tr {
    background-color: #000000; /* Negro */
    color: #ffffff; /* Blanco */
}

.dataTable th {
    padding: 1rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif ;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}


.dataTable td {
    padding: 20px 0.5rem;
    text-align: center;
    border-bottom: 1px solid #000;
    color: #000;
}


.dataTable__actions {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.actionsTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 1px;
    
}

.actionsTable .left a {
    text-decoration: none;
    color: #fff; /* Blanco */
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Bebas Neue", sans-serif ;
    margin-left: 17px;
}


.ButtonCreate-Table{
    background-color: #575454;
    border-radius: 5px ;
    width: 159px;
    height: auto;
    flex-direction: column;
    margin-top: 10px;

}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #000;
    margin-top: 2px;
  }
  
  .pagination-button {
    border: none;
    background-color: #f0f0f0;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-button-active {
    background-color: #12181f;
    color: white;
    cursor: default;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mover el contenedor de búsqueda a la derecha */
  }
  
  .search-container input {
    width: 122px;
    height: 50px; /* Ajusta el ancho del campo de búsqueda según tus necesidades */
    padding: 8px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 2px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    border: none;
  }
  .search-container input::placeholder {
    color: #000;
  }
  
  .search-container input:hover {
        background-color: rgba(192, 171, 171, 0.494);
}
  .left{
    display: flex;
    align-items: center;
  }
  .filter-options{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    padding: 10px;
    margin-top: 10px;
  }

  .inactive-row{
    background-color: #f2f2f2;
    color: #888;
  }
  .inactive-row td{
    color: #888;
  }
  


/* Agrega estilos adicionales según sea necesario */
